*{
       margin: 0px;
       padding: 0px;
}
#sayfa{
       width: 1000px;
       min-height: 850px;
       margin: auto;
       border-style: solid;
       border-color: black;
       background-color: white;
}
#banner{
       width: 998px;
       height: 120px;
       margin: auto;
       border-style: solid;
       border-color: black;
       border-width: 1px;
       background-color: rgb(116, 68, 68);
}
#sosyalmedya{
       width: 120px;
       height: 20px;
       border-style: none;
       border-color: white;
       border-width: 1px;
       background-color: rgb(116, 68, 68);
       float: right;
       position: relative;
       top: 50px;
       right: 10px;
}
#anamenu{
       width: 1000px;
       height: 80px;
       border-style: solid;
       border-color: black;
       border-width: 1px;
       background-color: rgb(75, 12, 12);
       margin: auto;
}
#anamenu ul{
       list-style-type: none;
}
#anamenu ul li{
       width: 120px;
       border-style: solid;
       border-width: 2px;
       border-radius: 8px;
       border-color: rgb(133, 43, 43);
       background-color: rgb(144, 93, 93);
       float: left;
       padding: 4px;
       margin-left: 10px;
       margin-top: 20px;
       position: relative;
       top: 2px;
       text-align: center;
}
#anamenu ul a{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: none;
       font-weight: bold;
       font-size: 14px;
}
#anamenu ul a:link{
       color: black;
}
#anamenu ul a:visited{
       color: gray;
}
#anamenu ul a:hover{
       color: rgb(34, 9, 58);
}
#anamenu ul a:active{
       color: rgb(8, 8, 118);
}
#icerik{
       width: 698px;
       min-height: 598px;
       border-style: solid;
       border-color: black;
       border-width: 1px;
       background-color: gray;
       float: left;
}
#yanmenu{
       width: 298px;
       min-height: 598px;
       border-style: solid;
       border-color: black;
       border-width: 1px;
       background-color: rgb(86, 86, 86);
       float: left;
}
#altmenu{
       width: 998px;
       min-height: 44px;
       border-style: solid;
       border-color: black;
       border-width: 1px;
       background-color: rgb(127, 59, 59);
       float: left;
       text-align: center;
       color: black;
}
#altmenu a{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 10px;
       font-weight: bolder;
       color: black;
       text-decoration: none;
}
#altmenu a:hover{
       color: rgb(29, 75, 75);
}