@import url('https://fonts.googleapis.com/css?family=Orbitron|Lato');

*{
       margin: 0px;
       padding: 0px;
}
#sayfa{
       width: 1000px;
       min-height: 850px;
       margin: auto;
       border-style: solid;
       border-color:white;
       background-color: white;
}
#banner{
       width: 998px;
       height: 120px;
       margin: auto;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-color: rgb(149, 149, 214);
       background-image: url("resimler/arkaplan13.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
#banner-baslik{
       margin: 30px auto;
       margin-left: 10px;
       margin-right: 10px;
       margin-top: 20px;
       font-size: 42px;
       font-family: "Orbitron",sans-serif;
       color: #52615E;
       text-shadow: 3px 3px #728382, -3px -3px #A0B8B1;

}
#search-image{
       font-weight: bold;
}
#sosyalmedya{
       width: 120px;
       height: 20px;
       border-style: none;
       border-color: white;
       border-width: 1px;
       float: right;
       position: relative;
       top: 29px;
       right: 10px;
}
#anamenu{
       width: 998px;
       height: 80px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-color: rgb(181,126,220);
       margin: auto;
       background-image: url("resimler/arkaplan13.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
#anamenu ul{
       list-style-type: none;
}
#anamenu ul li{
       width: 120px;
       border-style: solid;
       border-width: 2px;
       border-radius: 8px;
       border-color: white;
       background-color: #a5c3a3;
       float: left;
       padding: 15px;
       margin-left: 38px;
       margin-top: 12px;
       position: relative;
       top: 2px;
       text-align: center;
}
#anamenu ul a{
       font-family: "Orbitron",sans-serif;
       color: white;
       text-shadow: 2px 2px #52615E, -1px -1px #047ab9;
       font-size: 19px;
       font-weight: bolder;
}
#anamenu ul a:link{
       color: white;
}
#anamenu ul a:visited{
       color: white;
}
#anamenu ul a:hover{
       color: rgb(34, 9, 58);
}
#anamenu ul a:active{
       color: rgb(8, 8, 118);
}
#icerik{
       width: 698px;
       min-height: 598px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-color: rgb(204,204,255);
       float: left;
       background-image: url("resimler/iletisim.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

#yanmenu{
       width: 298px;
       min-height: 598px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-color: rgb(189, 186, 221);
       float: left;
       background-image: url("resimler/iletisim.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}

.yanmenu-icerik{
       position: relative;
       margin-top: -5px;
       color: #646d64;
       text-shadow: -1px -1px white;
       border-style:double;
       font-size: 25px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: bolder;

}
#altmenu{
       width: 998px;
       min-height: 44px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-color: rgb(189,187,215);
       float: left;
       text-align: center;
       color: black;
       background-image: url("resimler/iletisim.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
#altmenu a{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       font-size: 10px;
       font-weight: bolder;
       color: black;
       text-decoration: none;
}
#altmenu a:hover{
       color: rgb(29, 75, 75);
}
#iletisim-icerik{
       width: 996px;
       min-height: 598px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       float: left;
       font-family: Papyrus,"Sagoe UI",monospace;
       font-size: 17px;
       color:#436c3f;
       font-weight: bold;
       background-image: url("resimler/iletisim.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: 100%;
}
.iletisimsubmit{
	font-family: "Orbitron",sans-serif;
	font-size: 18px;
       font-weight: bold;
	background-color: #a5c3a3;
       text-shadow: 2px 2px #52615E, -1px -1px #047ab9;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
	margin-bottom: 20px;
       position: relative;
       top: 2px;
       left: 1px;
}
.iletisimsubmit:hover{
	background-color: #7cb978;
}
#konum{
       position: relative;
       margin-top: -1px;
       border-style: double;
       border-color: #9186a2;
       width: 600px;
       height: 150px;
}
section{
       position: relative;
       width: 698px;
       height: 500px;
       margin-top: 10px;
}
section video{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       object-fit: cover;
}
section .navigation{
       position: absolute;
       bottom: -90px;
       left: 50%;
       transform: translate(-50%);
       z-index: 100;
       display: flex;
       justify-content: center;
       align-items: center;
}
section .navigation li{
       list-style: none;
       cursor: pointer;
       margin: 0 10px;
       border-radius: 4px;
       background: #fff;
       padding: 3px 3px 0;
       opacity: 0.7;
       transition: 0.5s;
}
section .navigation li:hover{
       opacity: 1;
}
section .navigation li img{
       width: 120px;
       transition: 0.5s;
}
section .navigation li img:hover{
       width: 200px;
}
#anketform-icerik{
       width: 998px;
       height: 598px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-image: url("resimler/white3.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       float: left;
       color: rgb(1, 91, 1);
}
.checkbox{
       display: inline;
       position: relative;
       padding-left: 50px;
       margin-bottom: 10pxpx;
       cursor: pointer;
       font-size: 18px;
}
.checkbox input{
       opacity: 0;
}
.checkmark-checkbox{
       position: absolute;
       top: 0;
       left: 20px;
       height: 20px;
       width: 20px;
       background-color: #bbb;
}
.checkbox input:checked ~ .checkmark-checkbox{
       background-color: #a5c3a3;
}
.checkmark-checkbox:after{
       content: "";
       position: absolute;
       display: none;
}
.checkbox input:checked ~ .checkmark-checkbox:after{
       display: block;
}
.checkbox .checkmark-checkbox:after{
       left: 6px;
       top: 3px;
       width: 5px;
       height: 10px;
       border: solid white;
       border-width: 0 3px 3px 0;
       -webkit-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       transform: rotate(45deg);
}
#anket-h3{
       color: #52615E;
       text-shadow: 1px 1px #728382;
       margin: auto;
       margin-left: 10px;
       margin-top: 10px;
       font-size: 20px;
       font-family:'Pargolin',cursive;
}
#anketalani{
       position: relative;
       width: 996px;
       height: 596px;
       color: #62807b;
       border-color: #A0B8B1;
       font-size: 15px;
       background-image: url("resimler/white10.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
#formalani{
       position: relative;
       width: 996px;
       height: 596px;
       font-family:'Pargolin',cursive;
       color: #526155;
       text-shadow: 1px 1px #728382;
       font-size: 30px;
       font-weight: bold;
       border-color: #A0B8B1;
       background-image: url("resimler/white10.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}
#formtablo{
       font-weight: normal;
       font-family:'Pargolin',cursive;
       font-size: 26px;
       font-weight: bold;
       color: #526155;
       text-shadow: 1px 1px #728382;
}
#formyazi{
       position: relative;
       margin-top: -90px;
       margin-left: 20px;
       text-align: left;
       font-size: 20px;
       font-weight: bolder;
       color: #526155;
}

.div-anketform{
       float: left;
       position: relative;
       margin-left: 16px;
       margin-top: 20px;
       position: relative;
       margin-top: 200px;
}
#div-anket{
       position: relative;
       margin-top: 200px;
       left: 200px;
       border-style: double;
       border-color: #9186a2;
       width: 225px;
       height: 200px;
       text-align: center;
       font-size: 50px;
       background-image: url("resimler/white2.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #719293;
}
#div-form{
       position: relative;
       margin-top: 200px;
       left: 300px;
       border-style: double;
       border-color:#9186a2;
       width: 225px;
       height: 200px;
       text-align: center;
       font-size: 50px;
       background-image: url("resimler/white2.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #afb2a8;
}
#div-anket a{
       font-family: "Orbitron",sans-serif;
       color: #5c5472;
       text-shadow: 2px 2px #a2a4c2, -2px -2px #e0dded;
       font-size: 33px;
       font-weight: bolder;
       position: relative;
       top: 30px;
}
#div-anket a:hover{
       color:white;
}
.anketformsubmit{
	font-family: "Orbitron",sans-serif;
	font-size: 18px;
       font-weight: bold;
	background-color: #a5c3a3;
       text-shadow: 2px 2px #52615E, -1px -1px #047ab9;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 2px;
	cursor: pointer;
	margin-bottom: 20px;
       position: relative;
       top: -10px;
       left: 20px;
}
.anketformsubmit:hover{
	background-color: #7cb978;
}
#div-form a{
       font-family: "Orbitron",sans-serif;
       color: #5c5472;
       text-shadow: 2px 2px #a2a4c2, -2px -2px #e0dded;
       font-size: 20px;
       font-weight: bolder;
       position: relative;
       top: 30px;
}
#div-form a:hover{
       color: white;
}

#makale-icerik{
       width: 996px;
       min-height: 598px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       background-image: url("resimler/white2.jpg");
       height: 100%;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       float: left;
}
.div-makale{
       float: left;
       position: relative;
       margin-left: 16px;
       margin-top: 20px;
       position: relative;
       margin-top: 200px;
}
#div-html{
       position: relative;
       margin-top: 80px;
       left: 200px;
       border-style: double;
       border-color: #9186a2;
       width: 225px;
       height: 200px;
       text-align: center;
       font-size: 50px;
       background-image: url("resimler/makale8.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #719293;
}
#div-css{
       position: relative;
       margin-top: 80px;
       left: 300px;
       border-style: double;
       border-color:#9186a2;
       width: 225px;
       height: 200px;
       text-align: center;
       font-size: 50px;
       background-image: url("resimler/makale8.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #afb2a8;
}
#div-js{
       position: relative;
       margin-top: 340px;
       right: 290px;
       border-style: double;
       border-color:#9186a2;
       width: 225px;
       height: 200px;
       text-align: center;
       font-size: 50px;
       background-image: url("resimler/makale8.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-color: #719293;
}
#div-php{
       position: relative;
       margin-top: 340px;
       right: 190px;
       border-style: double;
       border-color: #9186a2;
       width: 225px;
       height: 200px;
       text-align: center;
       font-size: 50px;
       background-image: url("resimler/makale8.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       background-color:#afb2a8;
}
#div-html a{
       font-family: "Orbitron",sans-serif;
       color: #5c5472;
       text-shadow: 2px 2px #a2a4c2, -2px -2px #e0dded;
       font-size: 50px;
       font-weight: bolder;
       position: relative;
       top: 50px;
}
#div-html a:hover{
       color:white;
}
#div-css a{
       font-family: "Orbitron",sans-serif;
       color: #5c5472;
       text-shadow: 2px 2px #a2a4c2, -2px -2px #e0dded;
       font-size: 50px;
       font-weight: bolder;
       position: relative;
       top: 50px;
}
#div-css a:hover{
       color: white;
}
#div-js a{
       font-family: "Orbitron",sans-serif;
       color: #5c5472;
       text-shadow: 2px 2px #a2a4c2, -2px -2px #e0dded;
       font-size: 50px;
       font-weight: bolder;
       position: relative;
       top: 30px;
}
#div-js a:hover{
       color: white;
}
#div-php a{
       font-family: "Orbitron",sans-serif;
       color: #5c5472;
       text-shadow: 2px 2px #a2a4c2, -2px -2px #e0dded;
       font-size: 50px;
       font-weight: bolder;
       position: relative;
       top: 50px;
}
#div-php a:hover{
       color:white;
}
.html-makale-paragraf{
       color: #52615E;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: bold;
       position: relative;
       left: 4px;
}
.html-makale-paragraf h1{
       position: relative;
       top: 20px;
       font-size: 50px;
       color: #293e3a;
}
.html-makale-paragraf ul{
       font-weight: bold;
       color:#66827c;
       position: relative;
       top: 5px;
       left: 20px;
}
.css-makale-paragraf{
       color: #52615E;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: bold;
       position: relative;
       left: 4px;
}
.css-makale-paragraf h1{
       position: relative;
       top: 20px;
       font-size: 50px;
       color: #293e3a;
}
.css-makale-paragraf ol{
       font-weight: bold;
       color:#66827c;
       position: relative;
       top: 5px;
       left: 20px;
}
.js-makale-paragraf{
       color: #52615E;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: bold;
       position: relative;
       left: 4px;
}
.js-makale-paragraf h1{
       position: relative;
       top: 20px;
       font-size: 50px;
       color: #293e3a;
}
.js-makale-paragraf ul{
       font-weight: bold;
       color:#66827c;
       position: relative;
       top: 5px;
       left: 20px;
}
.php-makale-paragraf{
       color: #52615E;
       font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
       font-weight: bold;
       position: relative;
       left: 4px;
}
.php-makale-paragraf h1{
       position: relative;
       top: 20px;
       font-size: 50px;
       color: #293e3a;
}
.php-makale-paragraf ul{
       font-weight: bold;
       color:#66827c;
       position: relative;
       top: 5px;
       left: 20px;
}
#sinav-icerik{
       width: 996px;
       min-height: 598px;
       border-style: solid;
       border-color: white;
       border-width: 1px;
       float: left;
       background-image: url("resimler/white6.jpg");
       background-position: center;
       background-repeat: no-repeat;
       background-size: 100%;
}
#sinav-fieldset{
       position: relative;
       left: 2px;
       padding-left: 20px;
       width: 500px;
       height: 530px;
}
.question{
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: 600;
       color: #475c45;
}
.answers {
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: bold;
       margin-bottom: 25px;
       color: #476044;
}
.answers label{
       display: block;
}
#submit{
	font-family: "Orbitron",sans-serif;
	font-size: 20px;
       font-weight: bold;
	background-color: #a5c3a3;
       text-shadow: 2px 2px #52615E, -1px -1px #047ab9;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 3px;
	cursor: pointer;
	margin-bottom: 14px;
       float: unset;
       margin-top: 3px;
}
#submit:hover{
	background-color: #7cb978;
}
